/*#region global*/
*{
    padding: 0;
    margin: 0;
    font-family: var(--main-font);
}
@font-face {
    font-family: "Montserrat", sans-serif;
    src: url("");
}
:root {
    --main-font: "Montserrat";
    --col-black: #000000;
    --col-dk-blue: #14213d;
    --col-yellow: #fca311;
    --col-gray: #e5e5e5;
    --col-white: #ffffff;
}
body {
    background-color: var(--col-black);
}
h1 {
    font-size: 4rem;
    color: var(--col-white);
}
/*#endregion*/

/*#region navbar*/
.nav-center {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    list-style: none;
    margin: 0;
    padding: 0;
}
.nav-item a{
    transition: .2s;
}
.nav-item a:hover{
    color: var(--col-black);
    transition: .2s;
}
.login {
    padding: 0 5px;
}
.login button{
    margin-left: 10px;
    transition: .2s;
    border-style: none;
}
.login button:hover{
    margin-left: 10px;
    transition: .2s;
    color: var(--col-black);
    background-color: #fca311!important;
}
.login button:active{
    color: var(--col-black)!important;
}
.login i {
    transition: .2s;
    font-size: 30px;
}
.login i:hover {
    transition: .2s;
    cursor: pointer;
    color: var(--col-yellow);
}
/*#endregion*/

/*#region section1*/
#section1{
    height: 92vh;
    width: 100%;
    background-color: var(--col-white);
}
#imageCarousel{
    width: 100%;
    height: 100%;
}
.carousel-item img{
    width: 75%;
    margin: 0 auto;
}
.carousel-control-prev,
.carousel-control-next {
    background-color: transparent; /* Remove the default gray background */
    filter: invert(1); /* Inverts the color (makes it white on dark backgrounds) */
}


/*#endregion*/